.search-label {
  position: relative;
}
.shrink input {
  width: 180%;
  padding: 1%;
  font-size: 15px;
  color: rgb(204, 0, 255);
  outline: none;
  background-color: #343a40;
  border: none;
}

.shrink {
  width: fit-content;
}

.qlist {
  display: flex;
  flex-wrap: wrap;
  margin: 0px;
  padding-bottom: 15px;
  grid-gap: 1em;
  row-gap: 0;
  overflow: scroll;
}

.results {
  background: #343a40;
  overflow: scroll;
  max-height: 350px;
  overflow-x: hidden;
  border: 1px solid #343a40;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-color: #888;
  border-top-width: 1px;
}

.search-section {
  border: 2px solid #343a4000;
  background-color: #343a4000;
  /* border-radius: 10px; */
}

.qlist ::-webkit-scrollbar {
  width: 1px;
}

.search-bar {
  width: 100%;
}

.search-list {
  list-style-type: none;
}

.query {
  color: aquamarine;
}
